In [1]:
import pandas as pd 
import numpy as np
import ast

df = pd.read_csv(r'F:\Projects\Internship\Technocolab\movie_ratings\movies_metadata.csv')
movies = pd.DataFrame()
cols_to_drop = ['adult','imdb_id','revenue', 'overview', 'spoken_languages', 'status', 'tagline', 'original_title', 'video', 'vote_count']
df = df.drop(cols_to_drop, axis = 1)

C:\Users\ANP\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3057: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [2]:
movies['movie_id'] = df['id']

In [3]:
df.head()

,belongs_to_collection,budget,genres,homepage,id,original_language,popularity,poster_path,production_companies,production_countries,release_date,runtime,title,vote_average
0,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,en,21.9469,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,81.0,Toy Story,7.7
1,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,en,17.0155,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,104.0,Jumanji,6.9
2,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,en,11.7129,/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,101.0,Grumpier Old Men,6.5
3,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,en,3.85949,/16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,127.0,Waiting to Exhale,6.1
4,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,en,8.38752,/e64sOI48hQXyru7naBFyssKFxVd.jpg,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,106.0,Father of the Bride Part II,5.7

In [4]:
df.isna().sum()

belongs_to_collection    40972
budget                       0
genres                       0
homepage                 37684
id                           0
original_language           11
popularity                   5
poster_path                386
production_companies         3
production_countries         3
release_date                87
runtime                    263
title                        6
vote_average                 6
dtype: int64

In [5]:
df['belongs_to_collection'] = df['belongs_to_collection'].fillna('[]').apply(ast.literal_eval)
df['production_companies'] = df['production_companies'].fillna('[]').apply(ast.literal_eval)
df['production_countries'] = df['production_countries'].fillna('[]').apply(ast.literal_eval)

In [6]:
for i in range(df.shape[0]) : 
    try : 
        movies.loc[i,'collection'] = df.loc[i, 'belongs_to_collection']['name']
    except : 
        movies.loc[i,'collection'] = np.nan

In [7]:
for i in range(df.shape[0]):
    temp = ast.literal_eval(df['genres'][i])
    try : 
        movies.loc[i, 'genre1'] = temp[0]['name']
    except :
         movies.loc[i, 'genre1'] = np.nan
    try : 
        movies.loc[i, 'genre2'] = temp[1]['name']
    except :
         movies.loc[i, 'genre2'] = np.nan

In [8]:
for i in range(df.shape[0]):
    temp = df.loc[i,'production_countries']
    
    try : 
        movies.loc[i, 'production_country_1'] = temp[0]['name']
    except :
         movies.loc[i, 'production_country_1'] = np.nan
    try : 
        movies.loc[i, 'production_country_2'] = temp[1]['name']
    except :
         movies.loc[i, 'production_country_2'] = np.nan

In [9]:
for i in range(df.shape[0]):
    temp = df.loc[i,'production_companies']

    try : 
        movies.loc[i, 'production_company_1'] = temp[0]['name']
    except :
         movies.loc[i, 'production_company_1'] = np.nan
    try : 
        movies.loc[i, 'production_company_2'] = temp[1]['name']
    except :
         movies.loc[i, 'production_company_2'] = np.nan

In [10]:
movies.head()

,movie_id,collection,genre1,genre2,production_country_1,production_country_2,production_company_1,production_company_2
0,862,Toy Story Collection,Animation,Comedy,United States of America,NaN,Pixar Animation Studios,NaN
1,8844,NaN,Adventure,Fantasy,United States of America,NaN,TriStar Pictures,Teitler Film
2,15602,Grumpy Old Men Collection,Romance,Comedy,United States of America,NaN,Warner Bros.,Lancaster Gate
3,31357,NaN,Comedy,Drama,United States of America,NaN,Twentieth Century Fox Film Corporation,NaN
4,11862,Father of the Bride Collection,Comedy,NaN,United States of America,NaN,Sandollar Productions,Touchstone Pictures

In [11]:
df['budget'] = df['budget'].replace('0',np.nan)

remaining_var = ['budget', 'title', 'original_language', 'popularity', 'homepage', 'poster_path', 'runtime', 'vote_average']

for i in remaining_var : 
    movies[i] = df[i]

In [12]:
movies.head()

,movie_id,collection,genre1,genre2,production_country_1,production_country_2,production_company_1,production_company_2,budget,title,original_language,popularity,homepage,poster_path,runtime,vote_average
0,862,Toy Story Collection,Animation,Comedy,United States of America,NaN,Pixar Animation Studios,NaN,30000000,Toy Story,en,21.9469,http://toystory.disney.com/toy-story,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,81.0,7.7
1,8844,NaN,Adventure,Fantasy,United States of America,NaN,TriStar Pictures,Teitler Film,65000000,Jumanji,en,17.0155,NaN,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,104.0,6.9
2,15602,Grumpy Old Men Collection,Romance,Comedy,United States of America,NaN,Warner Bros.,Lancaster Gate,NaN,Grumpier Old Men,en,11.7129,NaN,/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg,101.0,6.5
3,31357,NaN,Comedy,Drama,United States of America,NaN,Twentieth Century Fox Film Corporation,NaN,16000000,Waiting to Exhale,en,3.85949,NaN,/16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg,127.0,6.1
4,11862,Father of the Bride Collection,Comedy,NaN,United States of America,NaN,Sandollar Productions,Touchstone Pictures,NaN,Father of the Bride Part II,en,8.38752,NaN,/e64sOI48hQXyru7naBFyssKFxVd.jpg,106.0,5.7

In [13]:
movies.to_csv(r'F:\Projects\Internship\Technocolab\movie_ratings\movies_final.csv')